@charset "UTF-8"
*{
	margin: 0px;
	padding: 0px;
}
.all{
	width: 100%;
}
.one{
	width: 100%;
	height: 100px;
}
.one1{
	float: left;
	width: 30%;
	height:100px;
}
.one1 img{
	width: 80%;
	height: 80px;
	margin:10px 0px 0px 80px;
}
.one2{
	float: left;
	width: 15%;
	height:30px;
	margin:60px 0px 0px 500px;
}
.one21{
	float: left;
}
.one22{
	float: left;
}
.two{
	width: 100%;
	height:40px;
	background-color: rgb(255,248,240);
}
.two span{
	font-size: 14px;
	float: left;
	margin: 10px 0px 0px 100px;
}
.three{
	width: 100%;
	height:450px;
}
.three1 img{
	float: left;
	width: 60%;
	height:450px;
}
.three2 {
	float: left;
	width:40%;
	height:449px;
	margin-top: 1px;
	background-color: rgb(255,166,0);
}
.three21{
	width: 65%;
	height:370px;
	margin:20px 0px 0px 0px;
	background-color: white;
}
.three211{
	font-size: 14px;
	background-color: rgb(255,248,240);
	width: 100%;
	height:25px;
}
.three212{
	width: 100%;
	height:40px;
	margin-top: 20px;
}
.three2121{
	text-align: center;
	font-size: 20px;
    float: left;
    width: 50%;
    height:40px;
}
.three2121 a{
	color: black;
	text-decoration: none;
}
.three2122{
	color: black;
	text-align: center;
	font-size: 20px;
    float: left;
    width: 50%;
    height:40px;
}
.three2122 a{
	color: red;
	text-decoration: none;
}
.three213{
	width: 100%;
	height:40px;
	margin-top: 20px;
}
.three2131{
	float: left;
	margin-left: 30px;
}
.three2132 input{
	margin-top:3px;
	float: left;
	width: 70%;
	height:34px;
}
.three214{
	width: 100%;
	height:40px;
	margin-top: 20px;
}
.three2141{
	float: left;
	margin-left: 30px;
}
.three2142 input{
	margin-top:3px;
	float: left;
	width: 71%;
	height:34px;
}
.three215{
	width: 100%;
	height:40px;
	margin-top: 20px;
}
.three215 a{
	text-decoration: none;
	margin-left:270px;
}
.three217{
	width: 70%;
	height:40px;
	margin: 0 auto;
}
.three217 button{
	color: white;
	font-size: 20px;
	letter-spacing: 10px;
	width: 100%;
	height:40px;
	background-color: red;
	border: none;
}
.three216{
	width:100%;
	height:40px;
    margin-top:25px;
}
.three2161 img{
	height: 25px;
	float: left;
	margin-top: 6px;
}
.three2162 img{
	height:23px;
	float: left;
	margin-top: 7px;
}
.three2163{
	float: left;
	margin-left:100px;
}
.three2163 img{
	float: left;
	margin-top: 5px;
}
.three2163 a{
	float: left;
	color: red;
	text-decoration: none;
	margin: 6px 0px 0px 3px;
}
