@charset "UTF-8"
*{
	margin: 0px;
	padding: 0px;
}
.all{
	width: 100%;
}
.one{
	width: 100%;
	height: 30px;
	margin: 0 auto;
	background-color: rgb(227,228,229);
}
.one1{
	float: left;
	width: 20%;
	height: 30px;
	margin-left:80px;
}
.one2{
	float: left;
	margin-left:20px;
}
.one2 span{
	font-size: 14px;
	float: left;
	margin: 5px;
}
.one2 select{
	margin-top:5px;
	font-size:14px;
	background-color: rgb(227,228,229);
	border: none;
}
.one2 a{
	color: red;
}
.two{
	width: 100%;
	height:80px;
	background-color:rgb(226,35,26); 
}
.two1{
	float: left;
	width: 27%;
	height:70px;
	margin-left:40px;
}
.two1 img{
	width: 100%;
	height: 70px;
}
.two2{
	float: left;
	width: 30%;
	height: 50px;
}
.two2 span{
	font-size: 18px;
	color: white;
	float: left;
	margin: 25px 0px 0px 15px;
	letter-spacing: 20px;
}
.two2 select{
	color: white;
	font-size: 18px;
	background-color: rgb(226,35,26);
	border: none;
}
.two3{
	float: left;
	width: 25%;
	height: 50px;
}
.two3 input{
	float: left;
	width: 70%;
	height: 30px;
	margin-top: 20px;
}
.two3 img{
	float: left;
	width: 15%;
	height:35px;
	margin:20px 0px 0px -40px;
}
.two4{
	float: left;
	width: 10%;
	height: 50px;
}
.two4 img{
	float: left;
	width: 100%;
	height:38px;
	margin:18px 0px 0px 0px;
}
.all1{
	background-color:rgb(245,245,245);
	width: 100%;
	height: 400px;
}
.three{
	width: 85%;
	height: 400px;
	background-color:white ;
	margin: 0 auto;
}
.three1{
	width: 100%;
	height:40px;
    float: left;
    margin-top:20px;
}
.three2{
	width:90%;
	height:180px;
}
.three2 img{
	width: 50%;
	height:65px;
	margin:20px 0px -30px 280px;
}
.three3{
	width: 30%;
	height:40px;
	margin: 0 auto;
}
.three3 input{
	height: 25px;
}
.three4{
	width: 90%;
	height:80px;
}
.three41{
	float: left;
	margin:10px 0px 0px 400px;
}
.three41 input{
	height: 25px;
}
.three42{
	float: left;
	margin:10px 0px 0px 10px;
}
.three43{
	margin:10px 0px 0px 0px;
	float: left;
}
.three5{
	width:20%;
	height:40px;
	margin: 0 auto;
}
.three5 button{
	width: 60px;
	height:30px;
}
.thirty-three {
    width: 100%;
    height:100px;
    clear:both;
    background-color: rgb(240,243,239);
}
.thirty-three1{
	float: left;
	width: 24%;
	height: 70px;
	margin: 0px 0px 0px 30px;
}
.thirty-three11{
	float: left;
}
.thirty-three12{
	float: left;
	margin:12px 0px 0px 0px;
}
.thirty-three2{
	float: left;
	width: 24%;
	height: 100px;
}
.thirty-three21{
	float: left;
}
.thirty-three22{
	float: left;
	margin:12px 0px 0px 0px;
}
.thirty-three3{
	float: left;
	width: 24%;
	height: 100px;
}
.thirty-three31{
	float: left;
}
.thirty-three32{
	float: left;
	margin:12px 0px 0px 0px;
}
.thirty-three4{
	float: left;
	width: 23%;
	height: 100px;
}
.thirty-three41{
	float: left;
}
.thirty-three42{
	float: left;
	margin:12px 0px 0px 0px;
		}
.thirty-four {
    width:100%;
    height:230px;
    clear:both;
    background-color: rgb(240,243,239);
}
.thirty-four1{
	float: left;
	width: 15%;
	height: 210px;
	margin-left: 20px;
}
.thirty-four2{
	float: left;
	width: 15%;
	height: 210px;
}
.thirty-four3{
	float: left;
	width: 15%;
	height: 210px;
}
.thirty-four4{
	float: left;
	width: 15%;
	height: 210px;
}
.thirty-four5{
	float: left;
	width: 15%;
	height: 210px;
}
.thirty-four6 img{
	float: left;
	width: 20%;
	height: 210px;
}
.thirty-five {
    width:100%;
    height:240px;
    clear:both;
    background-color: rgb(240,243,239);
}
.thirty-five1 ul li {
	list-style: none;
	display: inline-block;
	margin:5px;
	font-size: 12px;
}
.thirty-five1 ul{
	text-align: center;
}
.thirty-five2 ul li{
	color:rgb(153,176,197);
	font-size: 10px;
	list-style: none;
	display: inline-block;
	margin:2px;
}
.thirty-five2 ul{
	text-align: center;
}
.thirty-five3 ul li{
	color:rgb(153,176,197);
	font-size: 10px;
	list-style: none;
	display: inline-block;
	margin:2px;
}
.thirty-five3 ul{
	text-align: center;
}
.thirty-five4 ul li{
	color:rgb(153,176,197);
	font-size: 10px;
	list-style: none;
	display: inline-block;
	margin:2px;
}
.thirty-five4 ul{
	text-align: center;
}
.thirty-five5{
	width: 100%;
	height:30px;
}
.thirty-five51{
	float: left;
	width: 15%;
	height:30px;
	margin-left:100px;
}
.thirty-five52{
	float: left;
	width: 15%;
	height:30px;
}
.thirty-five53{
	float: left;
	width: 15%;
	height:30px;
}
.thirty-five54{
	float: left;
	width: 15%;
	height:30px;
}
.thirty-five55{
	float: left;
	width: 15%;
	height:35px;
}
.thirty-five6 ul li{
	color:rgb(153,176,197);
	list-style: none;
	display: inline-block;
	margin:2px;
}
.thirty-five6 ul{
	text-align: center;
}
.thirty-six{
	width: 100%;
	height:60px;
	clear:both;
    background-color: rgb(240,243,239);
}
.thirty-six1{
	float: left;
	width: 12%;
	height: 60px;
	margin-left:100px;
}
.thirty-six11{
	float: left;
}
.thirty-six12{
	float: left;
}
.thirty-six2{
	float: left;
	width: 12%;
	height:60px;
}
.thirty-six21{
	float: left;
}
.thirty-six22{
	float: left;
}
.thirty-six3{
	float: left;
	width: 12%;
	height:60px;
}
.thirty-six31{
	float: left;
}
.thirty-six32{
	float: left;
}
.thirty-six4{
	float: left;
	width: 12%;
	height:60px;
}
.thirty-six41{
	float: left;
}
.thirty-six42{
	float: left;
}
.thirty-six5{
	float: left;
	width: 12%;
	height:60px;
}
.thirty-six51{
	float: left;
}
.thirty-six52{
	float: left;
}
.thirty-six6{
	float: left;
	width: 12%;
	height:60px;
}
.thirty-six61{
	float: left;
}
.thirty-six62{
	float: left;
}